/* Styles for the portfolio page */

body {
    font-family: 'Merriweather', sans-serif;
    margin: 50px 50px 0 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    min-height: 95vh;
    border-radius: 5px;
    flex: 1;
    justify-content: space-between;
  }


.logo {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 60px;
  height: 40px;
  float: left;
  border: 1px solid #333;
}


#menu-button {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 60px;
  height: 40px;
  float: right;
}

#menu-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

#menu-options li {
  background-color: #ffffff;
  padding: 10px;
}

#menu-options li a {
  text-decoration: none;
  color: #333;
}

.creative {
  color: rgb(1, 76, 89);
}

.card {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

@media (max-width: 900px) {
  .logo {
    width: 100px;
  }
  .menu {
    width: 100px;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }


  .card img {
    margin-bottom: 5px;
    border-radius: 5px;
    width: 50%;
    display: inline;
    object-fit: cover;
    height: 50%;
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    grid-row: span 2;
  }
}

  h1 {
    color: #000000;
      font-size: 2rem;
      text-align: center;
  }

  h5 {
    font-size: 1rem;
    text-align: center;
    color: #000000;
  }
  
  
  hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 20px 0;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: fd6f01;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Merriweather', serif;
    border: 1px solid #333;
  }


  img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    grid-row: span 2;
  }


p {
  font-weight: 700;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #000000; 
}

.container {
  padding: 10px;
  background-color: fd6f01;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border:2px solid #333;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0;
}
