/* Styles for the portfolio page */

body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #074b48;
    min-height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: #fbfafa;
  }

  h5 {
    color: #b4b1a1;
  }
  
  h5 {
    margin-top: 10px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #f8f6f6;
    margin: 20px 0;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #b4b1a1;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Merriweather', serif;
  }
  
  button:hover {
    background-color: #d7d5cc;
  }
  
  img {
    display: block;
    margin: 20px auto;
  }


  #first, #third{
    margin-left: 260px;

  }

  #second {
    background-color: #b4b1a1;
    border: 2px solid rgb(255, 255, 255);
    margin-right: 260;
    width: 300;
    height: 250;
  }

  p {
    font-size: 12px;
    color: rgb(0, 0, 0);
  }

