/* Styles for the portfolio page */

/* portfolio.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #107772;
}

h1 {
    color: #fbfafa;
    text-align: center;
}

h3 {
    color: #000000;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #f8f6f6;
    margin: 20px 0;
}

button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #074b48;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #04d3ccce;
}

img {
    display: block;
    margin-bottom: 20px;
}
