body {
  font-family: 'Merriweather', sans-serif;
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #074b48;
  min-height: 100vh;
  color: #fbfafa;
}

@media (max-width: 100%) {
  container {
height: 100%;
width: 100%;
}
}


.container {
  width: 80%;
  height: 50px;
  border-radius: 5px;
  background-color: #b4b1a1;
  display: block;
  margin: 20px auto;
  text-align: center;
}

h1 {
  color: #fbfafa;
}

h5 {
  color: #e4dfbf;
  margin-bottom: 20px;
}


hr {
  border: none;
  border-top: 2px solid #030303;
  margin: 20px ;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #d7d5cc;
}


p {
  margin: 10px 0;
}

.address {
  font-style: italic;
  color: #e4dfbf;
  margin: 5px 0;
}


img {
  display: block;
  margin: 20px auto;
}



img {
  display: block;
  margin: 20px auto;
}
